<!DOCTYPE html>
<html>
    <head>
        <title>Concession Kiosk - Thank You!</title>
        <link rel='stylesheet' href='stylesheets/style.css' />
        <link rel='stylesheet' href='stylesheets/normalize.css' />

    </head>
    <body>
        <h1 class="thank-you-h1">Concession Kiosk - Thank You</h1>
        <div class="wrapper ty-wrapper">
            <div>
            <p>
                Your order number is: <b><% if (ticketNumber) { %>
                <%= ticketNumber %>
                <% } %></b>
            </p>
            </div>
            <h3>Order Summary:</h5>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Hotdogs:</th>
                        <td><%= order.hotdog %></td>
                    </tr>
                    <tr>
                        <th scope="row">Hamburgers:</th>
                        <td><%= order.hamburger %></td>
                    </tr>
                    <tr>
                        <th scope="row">Salads:</th>
                        <td><%= order.salad %></td>
                    </tr>
                    <tr>
                        <th scope="row">Pizzas:</th>
                        <td><%= order.pizza %></td>
                    </tr>
                    <tr>
                        <th scope="row">Sodas:</th>
                        <td><%= order.soda %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>